A:link {color: black; font-size: 8pt; font-family: arial; text-decoration: none }
A:hover {color: black; font-size: 8pt; font-family: arial; text-decoration: none }
A:visited {color: black; font-size: 8pt; font-family: arial; text-decoration: none }
.bg-color1{
    background-color: blueviolet;
}

body{
    background-color: pink;
}

.invert-image{
    filter: invert(1);
    -webkit-filter: invert(1); 
    -moz-filter: invert(1)
}

.list-group{
    --bs-list-group-bg: transparet;
    --bs-list-group-border-color: transparet;
}

.fa-brands.fa-github.fa-2x:hover, .fa-brands.fa-github.fa-2x:focus {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.fa-brands.fa-github.fa-2x:hover, .fa-brands.fa-github.fa-2x:focus {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.fa-linkedin:hover, .fa-linkedin:focus {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.fa-solid.fa-user:hover, .fa-solid.fa-user:focus{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.fa-square-twitter:hover, .fa-square-twitter:focus {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

section.banner{
    background-image: url(/img/bannerPrincipal.jpeg);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}
section div.text-saludo{
    padding-top: 15%;
    padding-left: 15%;
    background-color: transparent !important; 

}








